// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$opensans: 'Open Sans', sans-serif;
$dancing: 'Dancing Script', cursive;
$poppins: 'Poppins', sans-serif;

// colors

$lightbrown: #a0937d;
$red: #E8341A;
$grey: #a7bbc7;
$black: #151515;
$offwhite: #F5F5EF;
$logowhite: #F7EFE9;
$brown: #883F39;

// mixins


@mixin header($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
}

@mixin nav($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
}

@mixin paragraph($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
}

@mixin button($sizeValue) {
        padding: 10px;
        background: none;
        border: 2px solid $brown;
        border-radius: 2px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        @include paragraph(1.5rem);

        &:hover,
        &:focus {
            background-color: $brown;
            color: $offwhite;
            transform: scale(.96);
        }

        &:active {
            position: relative;
            top: 2px;
            opacity: .6;
        }
}
