// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');



$opensans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$michroma: 'Michroma', sans-serif;


// colors

$lightbrown: #a0937d;
$grey: #a7bbc7;
$darkgrey: #464646;
$black: #151515;
$white: #ffffff;
$offwhite: #e1e1e1;
$logowhite: #F7EFE9;
$brown: #5b371a;
$opaque: rgba(133, 133, 133, 0.5);

// mixins

@mixin mainheader($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
}

@mixin header($sizeValue) {
    font-size: $sizeValue;
    font-family: $michroma;
}

@mixin nav($sizeValue) {
    font-size: $sizeValue;
    font-family: $michroma;
}

@mixin paragraph($sizeValue) {
    font-size: $sizeValue;
    font-family: $michroma;
    letter-spacing: .1rem;
}

@mixin paragraphpoppins($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
}

@mixin gallery($sizeValue) {
    font-size: $sizeValue;
    font-family: $michroma;
    letter-spacing: .15rem;
}

@mixin button($sizeValue) {
        padding: 10px;
        background: none;
        border: 2px solid $brown;
        border-radius: 2px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        @include paragraphpoppins(1.5rem);

        &:hover,
        &:focus {
            background-color: $brown;
            color: $offwhite;
            transform: scale(.96);
        }

        &:active {
            position: relative;
            top: 2px;
            opacity: .6;
        }
}
