// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


$opensans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$michroma: 'Michroma', sans-serif;
$roboto: 'Roboto', sans-serif;


// new colors from murray

$lightpink: #FDEFE2;
$blue: #2D2F83;
// $lightpink: rgba(253, 239, 226, 0.7);


// colors

$lightbrown: #a0937d;
$grey: #e4bb88;
$darkgrey: #464646;
$black: #151515;
$block: #2d3239;
$white: #ffffff;
$offwhite: #e1e1e1;
$logowhite: #F7EFE9;
$brown: #5b371a;
$opaque: rgba(133, 133, 133, 0.5);
$darkopaque: rgba(34, 34, 34, 0.5);

// mixins

@mixin mainheader($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
}

@mixin header($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
}

@mixin nav($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
}

@mixin paragraph($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
    letter-spacing: .1rem;
    color: $block;
}

@mixin paragraphpoppins($sizeValue) {
    font-size: $sizeValue;
    font-family: $poppins;
    color: $block;
}

@mixin gallery($sizeValue) {
    font-size: $sizeValue;
    font-family: $michroma;
    letter-spacing: .15rem;
}

@mixin button($sizeValue) {
        padding: 10px;
        background: none;
        border: 2px solid $blue;
        border-radius: 2px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        @include paragraphpoppins(1.3rem);

        &:hover,
        &:focus {
            background-color: $blue;
            color: $offwhite;
            transform: scale(.98);
        }

        &:active {
            position: relative;
            top: 2px;
            opacity: .6;
        }
}
