@import '../styles/partials/variables';
@import '../styles/partials/setup';

.about-section {

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

    @include tabletMQ {
        flex-direction: column;
        height: auto;
        margin-top: 0;
    }

    @include smallPhoneMQ {
        padding-top: 50%;
    }
    
    .about-header {
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 15%;
        padding-right: 5%;

        @include tabletMQ {
            height: 70vh;
            padding-left: 8%;
        }

        @include smallPhoneMQ {
            padding-bottom: 50%;
        }

        h1 {
            @include header(3rem);
            color: $blue;
            width: 25%;
            padding-bottom: 5px;
        }

        .cabinet-image {
            padding: 0 50px;

        }

        p {
            @include paragraphpoppins(1.8rem);
            line-height: 2.7rem;
            color: $blue;
            font-weight: 200;
        }

        span {
            font-style: italic;
        }
        
        button {
            @include button(2rem);
            color: $blue;
            font-weight: 300;
        }
    }



}