@import '../styles/partials/variables';
@import '../styles/partials/setup';

.enter {
    width: 100%;

    .contact-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bottom-image {
        height: 70vh;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-position: 10% 100%;
    }

}

.contact-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;

    h2 {
        
        @include header(4rem);
        color: $blue;
        font-weight: 300;
    }

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        li {
            padding: 10px;

            button {
                width: 100%;
                margin: 5% 0;
                @include button(1rem);
                color: $blue;
            }
        }

        svg {
            position: relative;
            left: 10%;
            top: 8px;
        }

    }

    a, p {
        @include paragraphpoppins(2rem);
        color: $blue;
        font-weight: 200;
        transition: all .2s;
    }

    a:hover {
        color: $lightbrown;
    }

}

.social-link {
    color: $blue;
    font-size: 3rem;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $lightbrown;
        transform: scale(1.1);
    }

}