@import '../styles/partials/variables';
@import '../styles/partials/setup';

// Layout Styles


.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.main {
    flex-grow: 1;
}

.headerBG {
    height: 100vh;
    background-image: url(../images/wooden-bg-two.jpg);
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: 10% 100%;
}

.main-header {
    display: flex;
    width: 100%;
}

.h1 {
    @include header(6rem);
    color: $offwhite;
    font-weight: 300;
    width: 50%;
}

.main-header-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    opacity: .9;
    height: 100vh;

    h2 {
        font-size: 1.2rem;
    }
}

.logo {
    padding: 1%;
    transition: all .2s ease-in-out;
}

.logo-text {
    width: 5%;
}

.header-container {
    display: flex;
    height: 10vh;
    width: 80%;
    justify-content: space-between;
}

.header {
    width: 100%;
    position: absolute;
    height: 10vh;
    z-index: 100000;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 2%;
    transition: top 0.6s;
    margin: 0;
}

// Nav Bar

.nav {
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding-top: 40px;

    a {
        @include nav(1.7rem);
        color: $offwhite;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover,
        &:focus {
            color: $black;
            border-bottom: 2px solid $black;
        }
    }

    .active {
        opacity: .4;
    }
}

.footer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 50px;

    .footer-para {
        @include header(1.5rem);
        color: $brown;
    }
}

.social-list {
    display: flex;
    width: 250px;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 100px;
    align-items: center;
    height: 10vh;
}

.social-link {
    color: $brown;
    font-size: 3rem;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $black;
    }
}

.svg {
    margin: 20px;
    opacity: .7;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
        opacity: 1;
    }
}



