@import '../styles/partials/variables';
@import '../styles/partials/setup';

// Main Styles

body {
    background-color: $white;
}

ul {
    padding: 0;
}

.scroll-top {
    position: fixed; 
    left: 40%;
    width: 100%;
    bottom: 20px;
    height: 20px;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 1s;
    transition: opacity 0.4s;
    opacity: 0.5;
}

.scroll-top:hover{
    opacity: 1;
}

@keyframes fadeIn {
    0% {
    opacity: 0;
    }

    100% {
    opacity: 0.5;
    }

}

// Layout Styles

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.main {
    flex-grow: 1;
}

.headerBG {
    height: 100vh;
    background-image: url(../images/wooden-bg-two.jpg);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 100%;
}

.main-header {
    display: flex;
    width: 100%;
}

.h1 {
    @include mainheader(6rem);
    color: $offwhite;
    font-weight: 300;
    width: 50%;
}

.main-header-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    opacity: .9;
    height: 100vh;

    h2 {
        font-size: 1.2rem;
    }
}

.logo {
    padding: 1%;
    transition: all .2s ease-in-out;
}

.logo-text {
    width: 5%;
}

.header-container {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
}

.header {
    width: 100%;
    position: fixed;
    height: 11%;
    z-index: 100000;
    display: flex;
    flex-wrap: nowrap;
    transition: top 0.6s;
    margin: 0;
    background-color: $darkopaque;
}

.svg {
    opacity: .7;
    transition: all .1s ease-in-out;
    margin-left: 50px;
    color: $white;

    &:hover,
    &:focus {
        opacity: 1;
        transform: scale(1.03);
    }
}

.arrow {
    position: absolute;
    left: 90%;
    bottom: 55%;
    transform: translate(-50%,-50%);
    font-size: 0;
}

.arrow span {
    display: block;
    width: 23px;
    height: 23px;
    border-bottom: 2px solid $white;
    border-right: 2px solid $white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2.4s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

// Nav Bar

.nav-container {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    width: 95%;
    padding-left: 50%;

    a {
        @include nav(1.3rem);
        color: $offwhite;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .13s ease-in-out;

        &:hover,
        &:focus {
            color: $lightbrown;
        }
    }

    .active {
        color: $grey;
    }
}

.footer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 1%;

    .footer-para {
        @include header(1.3rem);
        letter-spacing: .3rem;
        color: $black;
    }
}

.social-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3%;

    li {
        padding: 1%;
    }
}

.social-link {
    color: $black;
    font-size: 3rem;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $lightbrown;
        transform: scale(1.1);
    }

}



