@import '../styles/partials/variables';
@import '../styles/partials/setup';

.enter {
    width: 100%;
    margin: 0 auto;

    .contact-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        h2 {
            margin: 0 auto;
            display: block;
            padding-bottom: 15px;
            padding-top: 140px;
            @include header(3rem);
            font-weight: 400;
            color: $blue;
            font-weight: 300;
        }

    }

    .form {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @include bigTabletMQ {
            width: 90%;
        }


        input[type="text"], input[type="email"], textarea {
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid $offwhite;
            border-left: 2px solid $offwhite;
            border-radius: 1px;
            width: 100%;
            @include paragraphpoppins(1.5rem);
            color: $black;
            background-color: $offwhite;
    
        }

        input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
            color: $blue;
            opacity: .8;

        }

        label {
            display: none;
        }

        textarea {
            height: 300px;
            resize: none;
            margin: 2% 0;
        }

        .button {
            width: 25%;
            @include button(1.5rem);
            color: $blue;
            margin: 0 auto;
            margin-top: 5%;
        }
    }
}

.success-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;

    h2 {
        @include paragraphpoppins(2.4rem);
        font-weight: 200;
        color: $blue;
    }

    button {
        @include button(2rem);
        width: 100px;
        font-weight: 4rem;
    }
}



// a, p {
//     @include paragraphpoppins(2rem);
//     padding: 20px 0;
// }
