@import '../styles/partials/variables';
@import '../styles/partials/setup';

.arrow {
    position: absolute;
    left: 90%;
    top: 26%;
    transform: translate(-50%,-50%);
    font-size: 0;
}

.arrow span {
    display: block;
    width: 23px;
    height: 23px;
    border-bottom: 2px solid $white;
    border-right: 2px solid $white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2.4s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.about-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20%;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/bed.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    background-position: 40% 100%;
}

.h1 {
    @include header(4rem);
    color: $offwhite;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 2.5px solid $lightbrown;
    width: 20%;
    padding-bottom: 8px;
}

p {
    @include paragraph(2rem);
    color: $black;
}

.work-writeup-section {
    padding: 100px 0;
}

.work-writeup {
    width: 100%;
    @include paragraphpoppins(2rem);
    color: $block;
    padding: 70px 200px;

    a {
        color: $lightbrown;
        transition: all .15s ease-in-out;

        &:hover,
        &:focus {
            color: $brown;
        }
    }
}

.gallery-section {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    padding: 50px 0;
    border-bottom: 2.5px solid $lightbrown;
    border-top: 2.5px solid $lightbrown;

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        transition: all .2s ease-in-out;
            
        img {
            min-width: 200px;
            min-height: 200px;
        }

        li {
            transition: all .2s ease-in-out;
            display: flex;
            flex-direction: column;
            margin: 15px;
            
            h4 {
                @include gallery(1.2rem);
                font-weight: 300;
                text-transform: uppercase;
            }

        }

        .questions {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in-out;

            p {
                @include paragraphpoppins(2rem);
            }

            a {
                color: $brown;
                transition: all .15s ease-in-out;
            }

            a:hover,
            a:focus {
                color: $opaque;
            }

            svg {
                position: relative;
                top: 4px;
                color: $brown;
                left: 5px;
                transition: all .2s ease-in-out;
            }

            svg:hover,
            svg:focus {
                color: $darkgrey;
            }
        }
        
    }
}
