@import '../styles/partials/variables';
@import '../styles/partials/setup';

body {
    font-family: $poppins;
}

.about-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20%;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/bed.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    background-position: 40% 100%;
}

.h1 {
    @include header(6rem);
    color: $offwhite;
    font-weight: 300;
}

p {
    @include paragraph(2rem);
    color: $black;
}

.work-writeup {
    width: 60%;
    padding: 100px 0;
    @include paragraph(2rem);
    color: $brown;
}

.gallery-section {
    height: 100vh;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        transition: all .2s ease-in-out;
            
        img {
            min-width: 200px;
            min-height: 200px;
        }

        li {
            transition: all .2s ease-in-out;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h4 {
                @include paragraph(1.6rem);
                font-family: $poppins;
                font-weight: 300;
            }
        }

        li:hover,
        li:focus {
            opacity: .7;
            transform: scale(.95);
        }
        

    }
}
