@import '../styles/partials/variables';
@import '../styles/partials/setup';

.about-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20%;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/bed.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    background-position: 40% 100%;
}

.h1 {
    @include header(4rem);
    color: $offwhite;
    font-weight: 300;
    text-transform: uppercase;
}

p {
    @include paragraph(2rem);
    color: $black;
}

.work-writeup-section {
    padding: 100px 0;
}

.work-writeup {
    width: 100%;
    @include paragraphpoppins(2rem);
    color: $black;
    padding: 70px 200px;

    a {
        color: $brown;
        transition: all .2s ease-in-out;
        opacity: .8;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

.gallery-section {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    padding: 50px 0;

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        transition: all .2s ease-in-out;
            
        img {
            min-width: 200px;
            min-height: 200px;
        }

        li {
            transition: all .2s ease-in-out;
            display: flex;
            flex-direction: column;
            margin: 15px;
            
            h4 {
                @include gallery(1.2rem);
                font-weight: 300;
                text-transform: uppercase;
            }

        }

        .questions {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in-out;

            p {
                @include paragraphpoppins(2rem);

            }

            a {
                color: $brown;
            }

            a:hover,
            a:focus {
                color: $darkgrey;
            }

            svg {
                position: relative;
                top: 4px;
                color: $brown;
                left: 5px;
                transition: all .2s ease-in-out;
            }

            svg:hover,
            svg:focus {
                color: $darkgrey;
            }
        }
        
    }
}
